* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f5f5;
}

.calculator {
  width: 320px;
  padding: 20px;
  background-color: #366e60;
  border-radius: 15px;
}

.header {
  text-align: center;
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.display {
  height: 70px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 30px;
}

.button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button button {
  height: 55px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button button:hover {
  opacity: 0.8;
}